@import "../_variables.scss";

html, body {
    min-height: 100%;
    position: relative;
}

body{
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: $color-light;
}

.main-content{
    padding:0; 
    margin:0; 
    height:100%;
    padding-bottom: 50px;
}

footer{
    bottom: 0; 
    width: 100%;
    height: 50px;
}

h1{
    padding-top: 1rem;
}   

