<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="container d-flex justify-content-between">
            <a href="/" class="d-flex align-items-center mb-lg-0 me-lg-auto text-decoration-none btn btn-outline-light">
                Home
            </a>
            <a href="https://smoothjjuu.me/" target="_blank">
                <img src="../../../favicon.ico" alt="smoothjjuu icon" title="click to view Miri Joo resume" class="img-header"/>
            </a>      
        </div>
    </div>
</header>